/*----------------------*/
/* Pokedex Screen Styles */
/*----------------------*/

.pokedex-screen-container {
	padding: 0.8rem;
	height: 80%;
	transform-style: preserve-3d;
	transition: transform 0.6s ease;
}

.pokedex-description-screen{
	/* background-color: #D2B48C;
	border: 2px solid black; */
	border-radius: 10px;
	height: 100%;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 1;
	backface-visibility: hidden;
	padding: 1.3rem;

	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
	
} 


.pokemon-description-title {
	/* font-size: calc(1rem + 0.2vw); */
	 margin: calc(0.25rem + 2px);
	 margin-top: -2.5rem;
	/* font-weight: 500; */
	text-transform: capitalize;
	text-align: center;
  }


  .pokemon-description-text {

	/* font-size: calc(1rem + 0.2vw); */
	margin: 0;
	padding:  0 calc(1rem  - 10px); 
	/* font-weight: 500; */
	text-align: left;
  }


.flipped {
	transform: rotateY(180deg);
}

.flipped .pokedex-screen {
	display: none;
}

.pokemon-info {
	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-areas:
		'title title'
		'img stats';
	column-gap: 0.8rem;
}

.pokemon-name {
	text-align: center;
	text-transform: capitalize;
	grid-area: title;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.pokemon-img {
	width: 100%;
	transform: scale(1.5);
	align-self: center;
	grid-area: img;
}

.pokedex-no-screen {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

  
  /* Show Tooltip on Hover */
  .ability-item:hover .ability-tooltip {
	display: block;
  }
  
  /* Responsive Design - Ensure proper wrapping on smaller screens */
  @media (max-width: 768px) {
	.ability-item {
	  width: 100%; /* Stacks items on mobile screens */
	}
  }
  
  .evolution-chain {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.7rem;
	overflow-x: auto;
	padding-bottom: 1rem;
}

.evolution-step {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

  
  .evolution-stage {
	background: rgba(255, 255, 255, 0.1);
	padding: 0.5rem;
	border-radius: 8px;
	text-align: center;
  }
  
  .evolution-species {
	margin: 0;
	text-transform: capitalize;
  }
  
  .evolution-detail {
	font-size: 0.8rem;
	color: #aaa;
	display: block;
  }
  
  .evolution-arrow {
	display: flex;
	justify-content: center;
	padding: 0.25rem 0;
  }
  
  .arrow-icon {
	height: 24px;
	object-fit: contain;
}

  
  .evolution-branches {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem;
	margin-top: 0.5rem;
  }
  
  .evolution-branch {
	display: flex;
	flex-direction: column;
	align-items: center;
  }