/*----------------------*/
/* Pokedex Screen */
/*---------------------*/
.pokedex-screen-container {
	background: #b0b0b0;
	border-radius: 10px 10px 0 0;
	border: 1px solid black;
	margin: 20px 0;
	height: 50%;
	padding: 0.8rem;
	transform-style: preserve-3d;
	transition: all;
}
.pokedex-screen-back {
	background: white;
	background-color: whitesmoke;
	border: 2px solid black;
	border-radius: 10px;
	align-items: center;
	transform: rotateY(180deg);

	width: 100%;
	height: 100%;
	opacity: 0.9;
	backface-visibility: hidden;
	position: inherit;
}

.pokemon-name {
	text-align: center;
	text-transform: capitalize;
	grid-area: auto;
	/* grid-area: title; */
	font-weight: 700;
}
.pokemon-img {
	width: 100%;
	transform: scale(1.5);
	align-self: center;
	grid-area: img;
}
.pokemon-stats {
	grid-area: stats;
	padding-top: 1em;
	/* padding: 1em; */
}
.pokemon-stat {
	font-size: 0.9rem;
}
.pokedex-no-screen {
	width: 100%;
	height: 100%;
}
.stat-name {
	text-transform: capitalize;
}
