/* components/CryButtons/CryButtons.css */
.cry-button-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

.cry-button {
    background-color: #ffcc00;
    border: 2px solid #ff9900;
    border-radius: 30px;
    color: white;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.cry-button:hover {
    background-color: #ff9900;
    transform: scale(1.1);
}

.cry-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
}

.cry-button2 {
    background-color: #b497d6;
    border: 2px solid #8e7cc3;
    border-radius: 30px;
    color: white;
    padding: 12px;
    margin-left: 1rem;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.cry-button2:hover {
    background-color: #8e7cc3;
    transform: scale(1.1);
}