:root {
	--red: #dd082f;
	/* --mRed: repeating-linear-gradient(rgba(59, 2, 13, 1), rgba(221, 8, 47, 1)); */
	--mRed: repeating-linear-gradient(to right, maroon, crimson, maroon);

	--dark-red: #3b020d;
	--green: #2ff901;
	--yellow: #ffcc02;
	--sky: #01fbfb;
	--orange: #ffcc02;
	--blue: #519afb;
	font-size: 16px;
}

.App {
	text-align: center;
}
body {
	background-image: url("https://wallpaperchat.com/walls/full/0/2/a/477922.jpg");
	background-size: 180%;

	margin: 0;
	background-color: var(--dark-red);

	padding-top: 40px;
}

h1,
h2 {
	margin: 0;
}

ul {
	padding: 0;
	list-style: none;
}

.App {
	display: flex;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	font-family: system-ui;
}
